:root {}

body {
    
    font-family: 'Protest Riot', sans-serif;
    user-select: none;
}

.debug {
    border: solid red;
}

.container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.img-kitties {
    width: 200px;
}
.img-kisses{
    width: 300px;
}

.container>h2 {
    font-size: 20px;
}

.btn-container>button {
    min-width: 100px;
    padding: 10px;
    height: 40px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Protest Riot', sans-serif;
}
.btn-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.btn-yes {
    background-color: rgb(34, 131, 87);
    cursor: pointer;
}

.btn-no {
    background-color: rgb(203, 67, 67);
    cursor: pointer;
}